<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>CMS - Child Welfare Playbook</title>
  </head>
  <body>
    <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js"></script>
    <script type="module">

    // Use htm so we don't have to build templates with h()
    import htm from "https://unpkg.com/htm?module";

    const html = htm.bind(h);

    // Compile the list of topics in the page banner
    const topicData = {
      {%- for topic in collections.topics -%}
          "{{ topic.data.id }}": {
            name: "{{ topic.data.title }}",
            icon: "{{ topic.data.icon }}"
          }
        {%- if loop.index < collections.topics.length -%},{%- endif -%}
      {%- endfor -%}
    };

    const topicList = topics => {
      const listItems = topics
        .filter(topic => topicData[topic])
        .map(topic => html`
          <li>
            <a href="#">
              <svg>
                <use xlinkHref="#svg-${topicData[topic].icon}"></use>
              </svg>
              ${topicData[topic].name}
            </a>
          </li>
        `);

      if (listItems && listItems.length > 0) {
        return html`
          <ul class="page-topics">
            ${listItems}
          </ul>`;
      } else {
        return false;
      }
    };


    const resourceList = (entry, fieldsMetaData) => {
      const data = entry.get('data').toJS();
      const resources = data.resources;

      const icon = filetype => {
        switch (filetype) {
          case "pdf":
            return "file-pdf";
            break;
          case "doc":
            return "file-doc";
            break;
          default:
            return "link";
            break;
        }
      };

      if (resources) {
        const resourceCards = resources
          .filter((resource, i) =>
            fieldsMetaData.getIn(['resources', 'resources', data.resources[i]])
          )
          .map((resource, i) => {
            const resourceData= fieldsMetaData.getIn(['resources', 'resources', data.resources[i]]);

            return html`
              <a href="${resourceData.getIn(['url'])}" class="resource-card" data-has-icon>
                <h3 class="resource-card-header h5">
                  <svg>
                    <use xlinkHref="#svg-${icon(resourceData.getIn(['filetype']))}"></use>
                  </svg>
                  ${resourceData.getIn(['title'])}
                </h3>
                <div class="resource-card-body">
                  ${resourceData.getIn(['description'])}
                </div>
              </a>
            `
          }
        );

        return html`
          <h2>Resources</h2>
          ${resourceCards}
        `;
      } else {
        return false;
      }
    };

    const storyList = (entry, fieldsMetaData, getAsset) => {
      const data = entry.get('data').toJS();
      const stories = data.stories;

      if (stories) {
        const storyCards = stories
          .filter((story, i) =>
            fieldsMetaData.getIn(['stories', 'stories', data.stories[i]])
          )
          .map((story, i) => {
            const storyData= fieldsMetaData.getIn(['stories', 'stories', data.stories[i]]);
            const title = storyData.getIn(['title']);
            const storyType = storyData.getIn(['storyType']);
            const description = storyData.getIn(['description']);
            const author = storyData.getIn(['author']);
            const date = storyData.getIn(['date']);
            const url = storyData.getIn(['url']);
            const image = storyData.getIn(['image']);
            const imageUrl = getAsset(image).toString();

            return html`
              <div class="story-card-wrapper">
                <a class="story-card" href="${url}">
                  <span class="nametag-badge subhead">${storyType}</span>
                  <img src="${imageUrl}" alt="" />
                  <div class="story-card-content">
                    <h3>${title}</h3>
                    <p>${description}</p>
                    <p class="story-card-meta subhead">Written by ${author} on ${date}</p>
                  </div>
                </a>
              </div>
            `
          });

        return html`
          <h2>Stories</h2>
          ${storyCards}
        `;
      } else {
        return false;
      }
    };

    // Insert the SVG icon sprite into preview templates
    // while removing the parent <div>, since it contains
    // a non-React-compatible style tag

    const sprite = `{% svgsprite %}`;

    const parser = new DOMParser();
    const spriteParsed = parser.parseFromString(sprite, 'text/html');

    const spriteSvg = `${% include "partials/filters.svg" %}}${spriteParsed.querySelector('div').innerHTML}`;

      const Content = createClass({
        render: function() {
          const entry = this.props.entry;
          const data = entry.get('data').toJS();

          return html `
            <div>
              <div class="page-banner">
                <div class="l-wrapper">
                  <h2 class="h1">${data.title}</h2>
                  <p class="subhead">${data.description}</p>
                </div>
              </div>
              <div class="l-wrapper">
                <div class="l-section">
                  <div class="l-stack">
                    <div class="l-wrapper-text l-center">
                      ${this.props.widgetFor('body')}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          `
        }
      });

      const Meeting = createClass({
        render: function() {
          const entry = this.props.entry;
          const fieldsMetaData = this.props.fieldsMetaData;
          const getAsset = this.props.getAsset;
          const data = entry.get('data').toJS();

          return html`
            <div>
              {% raw %}<div hidden dangerouslySetInnerHTML=${{ __html: spriteSvg }}></div>{% endraw %}
              <div class="page-banner" data-type="meeting" data-width="full">
                <div class="l-wrapper">
                  <div class="nametag">
                    <span class="nametag-badge subhead">${data.meetingType}</span>
                    <div class="nametag-text">
                      <h2 class="h1">${data.title}</h2>
                    </div>
                  </div>
                  ${topicList(data.tags)}
                </div>
              </div>
              <div class="l-wrapper">
                <div class="l-section">
                  <div class="l-stack">
                    <div>
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/${data.youtubeId}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="meeting-content l-stack">
                      <h3>What we discussed</h3>
                      <div>
                        ${this.props.widgetFor('body')}

                        ${resourceList(entry, fieldsMetaData)}

                        ${storyList(entry, fieldsMetaData, getAsset)}
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          `;
        }
      });

      const Resource = createClass({
        render: function() {
          const entry = this.props.entry;
          const data = entry.get('data').toJS();

          let button;

          if (data.file) {
            button = html`
              <a class="button" data-has-icon href="${data.file}">
                <span class="icon-animation download-animation">
                  <svg class="card-download-arrow">
                    <use xlinkHref="#svg-download-simple-arrow"></use>
                  </svg>
                  <svg>
                    <use xlinkHref="#svg-download-simple-box"></use>
                  </svg>
                </span>
                Download
              </a>
            `;
          } else {
            button = html`
              <a class="button" data-has-icon href="${data.url}">
                <span class="icon-animation learn-more-animation">
                 <svg>
                    <use xlinkHref="#svg-learn-more-circle"></use>
                  </svg>
                  <svg class="card-learn-arrow">
                    <use xlinkHref="#svg-learn-more-arrow"></use>
                  </svg>
                </span>
                Learn more
              </a>
            `
          }

          return html`
            <div>
              {% raw %}<div hidden dangerouslySetInnerHTML=${{ __html: spriteSvg }}></div>{% endraw %}
              <div class="content">
                <div class="resource-detail">
                  <div class="l-wrapper">
                    <div class="nametag">
                      <span class="nametag-badge subhead">Resource</span>
                      <div class="nametag-text">
                        <h2>${data.title}</h2>
                        <p>${data.description}</p>
                      </div>
                    </div>

                    ${topicList(data.tags)}

                    <p class="resource-download">
                      ${button}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          `;
        }
      });


      const Strategy = createClass({
        render: function() {
          const entry = this.props.entry;
          const fieldsMetaData = this.props.fieldsMetaData;
          const getAsset = this.props.getAsset;
          const data = entry.get('data').toJS();

          return html`
            <div>
              {% raw %}<div hidden dangerouslySetInnerHTML=${{ __html: spriteSvg }}></div>{% endraw %}
              <div class="page-banner" data-type="strategy" data-width="full">
                <div class="l-wrapper">
                  <div class="l-stack-basic">
                    <div class="nametag">
                      <span class="nametag-badge subhead">Strategy</span>
                      <div class="nametag-text">
                        <h2 class="h1">${data.title}</h2>
                      </div>
                    </div>
                    ${topicList(data.tags)}
                  </div>
                </div>
              </div>
              <div class="l-wrapper">
                <div class="l-section">
                  <div class="l-stack">
                    <div class="l-wrapper-text l-center">
                      ${this.props.widgetFor('body')}

                      ${resourceList(entry, fieldsMetaData)}

                      ${storyList(entry, fieldsMetaData, getAsset)}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          `;
        }
      });

      const Story = createClass({
        render: function() {
          const entry = this.props.entry;
          const fieldsMetaData = this.props.fieldsMetaData;
          const data = entry.get('data').toJS();
          const image = data.image;

          const bgStyle = {"--background": `${this.props.getAsset(image).toString()}`};


          return html`
            <div>
              {% raw %}<div hidden dangerouslySetInnerHTML=${{ __html: spriteSvg }}></div>{% endraw %}
              <div class="page-banner" data-type="story" data-width="full" style=${bgStyle}>
                <div class="l-wrapper">
                    <div class="nametag">
                      <span class="nametag-badge subhead">${data.storyType}</span>
                      <div class="nametag-text">
                        <h2 class="h1">${data.title}</h2>
                      </div>
                    </div>
                    ${topicList(data.tags)}
                  <p class="subhead">Written by ${data.author} on ${data.date}</p>
                </div>
              </div>
              <div class="l-wrapper">
                <div class="l-section">
                  <div class="l-wrapper-text l-center">
                    <div class="l-stack">
                      ${this.props.widgetFor('body')}

                      ${resourceList(entry, fieldsMetaData)}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          `;
        }
      });

      const Topic = createClass({
        render: function() {
          const entry = this.props.entry;
          const data = entry.get('data').toJS();

          return html`
            <div>
              {% raw %}<div hidden dangerouslySetInnerHTML=${{ __html: spriteSvg }}></div>{% endraw %}
              <div class="page-banner" data-type="topic">
                <div class="l-wrapper">
                  <div class="l-stack-basic">
                    <div class="nametag">
                      <span class="nametag-badge subhead">Topic</span>
                      <div class="nametag-text">
                        <svg>
                          <use xlinkHref="#svg-${data.icon}"></use>
                        </svg>
                        <h2 class="h1">
                          ${data.title}
                        </h2>
                      </div>
                    </div>
                    <p>
                      ${this.props.widgetFor('body')}
                    </p>
                  </div>
                </div>
              </div>
              <div class="l-wrapper">
                <div class="l-section">
                  <div class="l-stack">
                    <div class="l-wrapper-text l-center">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          `;
        }
      });


      CMS.registerPreviewTemplate("meetings", Meeting);
      CMS.registerPreviewTemplate("resources", Resource);
      CMS.registerPreviewTemplate("strategies", Strategy);
      CMS.registerPreviewTemplate("stories", Story);
      CMS.registerPreviewTemplate("topics", Topic);

      CMS.registerPreviewStyle("../theme.css", { raw: false });
      CMS.registerPreviewStyle("../pages.css", { raw: false });
    </script>
  </body>
</html>