---
layout: layouts/default.njk
pageIndex: all
eleventyComputed:
  backLinkUrl: "{%- if tags and tags.length <= 2 -%}{%- for tag in tags -%}{%- if tag != 'dashboard' -%}/topics/{{ tag }}{%- endif -%}{%- endfor -%}{%- endif -%}"
  pagefindTitle: "{{ title }} dashboard"
  pageCss: "{% include 'css/components/dashboard-card.css' %}"
pagefind:
  type: Page
banner:
  image: /images/banners/dashboard.jpg
---

{% set pageData = dashboardData | replace(".csv", "") %}

{%- from '_macros/page-banner.njk' import pageBanner with context -%}
{%- from '_macros/resource-card.njk' import resourceCard -%}
{%- from '_macros/topic-card.njk' import topicCard %}
{%- from '_macros/story-card.njk' import storyCard %}

{# Check whether this measure is implemented #}
{%- macro checked(field) -%}
  {%- if field | lower == "fully implemented" -%}
    true
  {%- elif field | lower == "partially implemented" -%}
    partial
  {%- else -%}
    false
  {%- endif -%}
{%- endmacro -%}


{# Count how many measures are implemented for a given state #}
{%- macro implementedCount(field) -%}
  {%- if field | lower == "fully implemented" -%}
    1
  {%- elif field | lower == "partially implemented" -%}
    0.5
  {%- else -%}
    0
  {%- endif -%}
{%- endmacro -%}


{{ pageBanner({
  type: "dashboard",
  header: title,
  pagefindTitle: pagefindTitle,
  badge: "Dashboard",
  image: banner.image,
  tags: tags
  })
}}


<div class="l-wrapper">
  <div class="l-section">

    <div class="l-stack-basic">
      <div class="l-wrapper-text">
        <div class="l-stack-basic">
          {{ content | md | safe }}
        </div>
      </div>

    <div class="l-grid dashboard-grid">
      {% for row in dashboards[pageData] %}

      {% set implementedNumber = 0 %}

      {% if row["Jurisdiction"] | lower != "intro description" %}
        {% for key, value in row %}
          {% set implementedNumber = implementedNumber + implementedCount(value) | float %}
        {% endfor %}

        {%- set implementedText -%}
          {%- if implementedNumber == 0 -%}
            None implemented
          {%- elif implementedNumber < 5 -%}
            Partially implemented
          {%- else -%}
            All implemented
          {%- endif -%}
        {%- endset -%}
          <section class="dashboard-card">
            <header>
              <h3 class="nametag-badge subhead">{{ row["Jurisdiction"] }}</h3>
            </header>
            <ul>
              {% for key, value in row %}
                {% if key !== "Jurisdiction"  %}
                  <li data-checked="{{ checked(value) }}">{{ key }}<span class="sr-only">: {{  value }}</span></li>
                {% endif %}
              {% endfor %}
            </ul>
            <p class="dashboard-status">{{ implementedText }}</p>
          </section>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>